--
-- PostgreSQL database dump
--

\restrict e9Jn7QrkXcTEJUFe8JkjcshYOjjVXG6utR7sqGt6glSCozx1x4rtYl2B34e8Nig

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: movies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movies (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    genre character varying(100),
    release_year integer,
    is_favorite boolean DEFAULT false,
    is_watched boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.movies OWNER TO postgres;

--
-- Name: movies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.movies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movies_id_seq OWNER TO postgres;

--
-- Name: movies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.movies_id_seq OWNED BY public.movies.id;


--
-- Name: movies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movies ALTER COLUMN id SET DEFAULT nextval('public.movies_id_seq'::regclass);


--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.movies (id, title, description, genre, release_year, is_favorite, is_watched, created_at) FROM stdin;
1	Inception	A mind-bending sci-fi thriller about dreams within dreams.	Sci-Fi	2010	t	t	2026-06-29 16:35:46.13132
2	Interstellar	A space exploration story about survival and time.	Sci-Fi	2014	t	f	2026-06-29 16:35:46.13132
3	The Dark Knight	Batman faces the Joker in Gotham City.	Action	2008	f	t	2026-06-29 16:35:46.13132
4	Parasite	A dark social thriller about class differences.	Thriller	2019	f	f	2026-06-29 16:35:46.13132
\.


--
-- Name: movies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movies_id_seq', 4, true);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict e9Jn7QrkXcTEJUFe8JkjcshYOjjVXG6utR7sqGt6glSCozx1x4rtYl2B34e8Nig

